wf_5WJMgjRnuIJVdA3h.json
{
  "updatedAt": "2026-04-09T05:46:20.054Z",
  "createdAt": "2026-04-01T14:33:53.882Z",
  "id": "5WJMgjRnuIJVdA3h",
  "name": "Airfit Gym — Portal Invite Email",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "airfit-invite",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6107dcbc-1f78-48ff-9a20-d3ed62837b9c",
      "name": "Receive Invite Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "airfit-invite-wh"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\n\nconst body = (raw.body && typeof raw.body === 'object' && Object.keys(raw.body).length > 0)\n  ? raw.body\n  : raw;\n\nconst mode = body.mode || body.emailType || 'invite';\nconst name = body.name || 'Athlete';\nconst email = body.email || body.toEmail || '';\nconst phone = body.phone || '';\nconst appUrl = body.appUrl || (mode === 'planReady'\n  ? 'https://airfitworkout.vercel.app/client/dashboard'\n  : 'https://airfitworkout.vercel.app/client/login');\nconst planType = body.planType || 'Workout Plan';\n\nif (!email) {\n  throw new Error('Missing email address. Received keys: ' + Object.keys(body).join(', '));\n}\n\nfunction renderShell(eyebrow, bodyHtml, ctaText) {\n  return '<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>'\n    + '<body style=\"margin:0;padding:0;background:#0d0d0d;font-family:Arial,Helvetica,sans-serif;\">'\n    + '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#0d0d0d;padding:32px 0;\"><tr><td align=\"center\">'\n    + '<table width=\"520\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#111;border-radius:14px;overflow:hidden;border:1px solid #1a1a1a;\">'\n    + '<tr><td style=\"background:linear-gradient(135deg,#FF5C1A 0%,#cc2200 100%);padding:36px 32px;text-align:center;\">'\n    + '<h1 style=\"color:#fff;font-size:26px;margin:0;letter-spacing:8px;font-weight:900;text-transform:uppercase;\">AIRFIT GYM</h1>'\n    + '<div style=\"width:40px;height:3px;background:rgba(255,255,255,0.3);margin:12px auto;border-radius:2px;\"></div>'\n    + '<p style=\"color:rgba(255,255,255,0.75);font-size:11px;margin:0;letter-spacing:3px;text-transform:uppercase;\">' + eyebrow + '</p>'\n    + '</td></tr><tr><td style=\"padding:32px;\">'\n    + '<p style=\"color:#f0f0f0;font-size:16px;font-weight:700;margin:0 0 12px;\">Hey ' + name + '!</p>'\n    + bodyHtml\n    + '<div style=\"text-align:center;margin:28px 0;\"><a href=\"' + appUrl + '\" style=\"display:inline-block;background:linear-gradient(90deg,#FF5C1A,#cc3300);color:#fff;padding:15px 36px;border-radius:8px;text-decoration:none;font-weight:900;font-size:14px;letter-spacing:2px;text-transform:uppercase;\">' + ctaText + '</a></div>'\n    + '<div style=\"background:#0d0d0d;border-radius:10px;padding:18px;border:1px solid #1a1a1a;margin-top:20px;\">'\n    + '<p style=\"color:#555;font-size:11px;text-transform:uppercase;letter-spacing:2px;margin:0 0 10px;\">LOGIN PHONE</p>'\n    + '<p style=\"color:#888;font-size:13px;margin:0;\">Use this phone number in the portal: <strong style=\"color:#FF5C1A;font-family:monospace;letter-spacing:2px;\">' + phone + '</strong></p>'\n    + '</div></td></tr><tr><td style=\"padding:0 32px;\"><div style=\"height:1px;background:linear-gradient(90deg,transparent,#FF5C1A,transparent);\"></div></td></tr>'\n    + '<tr><td style=\"background:#0a0a0a;padding:22px 32px;text-align:center;\"><p style=\"color:#FF5C1A;font-size:13px;font-weight:900;margin:0 0 6px;letter-spacing:1px;\">Train Smart. Train Hard. Train With AI.</p><p style=\"color:#2a2a2a;font-size:10px;margin:0;letter-spacing:1px;\">AIRFIT GYM</p></td></tr>'\n    + '</table></td></tr></table></body></html>';\n}\n\nlet subject;\nlet htmlBody;\nif (mode === 'planReady') {\n  subject = 'Your AirFit plan is ready';\n  htmlBody = renderShell(\n    'Plan Ready',\n    '<p style=\"color:#aaa;font-size:14px;line-height:1.7;margin:0 0 20px;\">Your personalized ' + planType + ' is ready in the AirFit portal. Open your dashboard to view the one-week workout template, exercise videos, progress tracking, diet tools, and calorie log.</p>',\n    'Open My Dashboard'\n  );\n} else {\n  subject = \"You're Invited to Airfit Gym Training Portal!\";\n  htmlBody = renderShell(\n    'Training Portal Invite',\n    '<p style=\"color:#aaa;font-size:14px;line-height:1.7;margin:0 0 20px;\">You have been added to the <strong style=\"color:#FF5C1A;\">AirFit Gym Training Portal</strong>. Log in, fill out the questionnaire, and your one-week reusable workout template with YouTube tutorials will be generated.</p>',\n    'Enter Training Portal'\n  );\n}\n\nreturn [{ json: {\n  toEmail: email,\n  subject,\n  htmlBody,\n  name,\n  phone,\n  mode\n}}];"
      },
      "id": "aeb4cb8d-aff3-4bb4-a081-1bfe5c516429",
      "name": "Build Invite Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.htmlBody }}",
        "options": {
          "replyTo": "airfitofficial24@gmail.com"
        }
      },
      "id": "43e45e66-6497-4039-8947-3757651c4cab",
      "name": "Send Invite Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        480,
        0
      ],
      "webhookId": "cb52e808-7f83-4189-969d-3e1f42f86eae",
      "credentials": {
        "gmailOAuth2": {
          "id": "zf3m1aRux3SuJfw6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\":true,\"message\":\"Invite sent!\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "52d0fa35-9380-43c8-95cb-d15aa30bd206",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        0
      ]
    }
  ],
  "connections": {
    "Receive Invite Request": {
      "main": [
        [
          {
            "node": "Build Invite Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Invite Email": {
      "main": [
        [
          {
            "node": "Send Invite Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invite Email": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "75b5ef1e-1a26-499c-88fb-7fe17a063c3f",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-01T14:33:53.894Z",
      "createdAt": "2026-04-01T14:33:53.894Z",
      "role": "workflow:owner",
      "workflowId": "5WJMgjRnuIJVdA3h",
      "projectId": "azIIK8SPhhWZoIA4",
      "project": {
        "updatedAt": "2026-03-26T16:49:52.943Z",
        "createdAt": "2026-03-26T13:05:18.450Z",
        "id": "azIIK8SPhhWZoIA4",
        "name": "Airfit  Gym <airfitofficial24@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bf985987-4aa6-4f16-9057-64373dd765b2"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}