wf_maiz82IchPuO1an9.json
{
  "updatedAt": "2026-04-09T05:46:15.849Z",
  "createdAt": "2026-04-01T14:32:21.924Z",
  "id": "maiz82IchPuO1an9",
  "name": "Airfit Gym — Plan Generator (Web App)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://airfitplangen.duckdns.org/webhook/airfit-plan-ready",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fc09fa40-57b2-4a88-a344-df55a55e9b04",
      "name": "Save Plan to Store",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const data      = $input.first().json;\nconst clientCtx = $('Build Gemini Prompt').first().json;\n\nconst clientId    = data.clientId    || clientCtx.clientId    || '';\nconst clientName  = data.clientName  || clientCtx.clientName  || '';\nconst clientEmail = data.clientEmail || clientCtx.clientEmail || '';\nconst clientPhone = data.clientPhone || clientCtx.clientPhone || '';\nconst planType    = data.planType    || clientCtx.planType    || '';\nconst goal        = data.goal        || clientCtx.goal        || '';\nconst age         = data.age         || clientCtx.age         || '';\nconst gender      = data.gender      || clientCtx.gender      || '';\nconst isDiet      = data.isDiet;\n\nreturn [{ json: {\n  clientId,\n  clientName,\n  clientEmail,\n  clientPhone,\n  goal,\n  age,\n  gender,\n  planType,\n  isDiet,\n  workoutJson:  isDiet ? null : data.workoutJson,\n  dietHtml:     isDiet ? data.planHtml : null,\n  generatedAt:  new Date().toISOString()\n}}];"
      },
      "id": "e49cef3d-9975-41ce-ab05-545ce2b8517d",
      "name": "Build Plan Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems  = $input.all();\nconst base      = allItems[0].json;\nconst clientCtx = $('Build Gemini Prompt').first().json;\n\nif (!base.exerciseMode) {\n  return [{ json: {\n    ...base,\n    clientId:    clientCtx.clientId,\n    clientName:  clientCtx.clientName,\n    clientEmail: clientCtx.clientEmail,\n    clientPhone: clientCtx.clientPhone,\n    planType:    clientCtx.planType\n  }}];\n}\n\nconst wj = base.workoutJson;\nconst dayMap = new Map();\nfor (const item of allItems) {\n  const d = item.json;\n  if (!dayMap.has(d.day)) dayMap.set(d.day, { day: d.day, muscle: d.muscle, exercises: [] });\n  dayMap.get(d.day).exercises.push({\n    name: d.exerciseName, sets: d.sets, reps: d.reps,\n    setsReps: d.setsReps,\n    videoId: d.videoId, videoUrl: d.videoUrl,\n    videoTitle: d.videoTitle, channelName: d.channelName,\n    durationSeconds: d.durationSeconds,\n    isPreferredShort: d.isPreferredShort,\n    isShortCandidate: d.isShortCandidate,\n    videoFallback: d.videoFallback,\n    videoSearchQuery: d.videoSearchQuery,\n    thumb: d.thumb\n  });\n}\n\nconst sourceDays = Array.isArray(wj?.days) ? wj.days : [];\nconst enrichedDays = sourceDays.map(day => {\n  if (dayMap.has(day.day)) return dayMap.get(day.day);\n  return { day: day.day, muscle: day.muscle || 'Rest', exercises: [] };\n});\nconst enrichedWorkoutJson = {\n  greeting:     wj ? wj.greeting     : '',\n  overview:     wj ? wj.overview     : '',\n  warmup:       wj ? wj.warmup       : [],\n  cooldown:     wj ? wj.cooldown     : [],\n  recoveryTips: wj ? wj.recoveryTips : [],\n  days: enrichedDays\n};\n\nreturn [{ json: {\n  isDiet:       false,\n  workoutJson:  enrichedWorkoutJson,\n  planHtml:     null,\n  clientId:     clientCtx.clientId,\n  clientName:   clientCtx.clientName,\n  clientEmail:  clientCtx.clientEmail,\n  clientPhone:  clientCtx.clientPhone,\n  planType:     clientCtx.planType\n}}];"
      },
      "id": "250de3e1-803b-48b2-883f-0b7e1fba8cac",
      "name": "Rebuild Workout Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const ytItems = $input.all();\nconst exItems = $('Extract Exercises').all();\nconst firstExtracted = exItems[0]?.json || {};\n\nif (firstExtracted.exerciseMode === false) {\n  return exItems.map(item => ({ json: item.json }));\n}\n\nconst clientCtx = $('Build Gemini Prompt').first().json;\nconst output = [];\n\nfunction parseIsoDuration(value) {\n  const match = String(value || '').match(/^PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?$/);\n  if (!match) return null;\n  return (Number(match[1] || 0) * 3600) + (Number(match[2] || 0) * 60) + Number(match[3] || 0);\n}\n\nfunction words(value) {\n  return String(value || '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .split(/\\s+/)\n    .filter(word => word.length > 2 && !['with', 'the', 'and', 'for', 'how', 'shorts', 'exercise', 'proper', 'form'].includes(word));\n}\n\nfunction scoreVideo(video, exerciseName) {\n  const title = String(video.snippet?.title || '').toLowerCase();\n  const channel = String(video.snippet?.channelTitle || '').toLowerCase();\n  const duration = parseIsoDuration(video.contentDetails?.duration) || 9999;\n  const exWords = words(exerciseName);\n  const titleHits = exWords.filter(word => title.includes(word)).length;\n  const allWordsHit = exWords.length > 0 && titleHits === exWords.length;\n  let score = 0;\n  if (duration <= 30) score += 140;\n  else if (duration <= 60) score += 95;\n  else if (duration <= 120) score += 15;\n  score += titleHits * 25;\n  if (allWordsHit) score += 45;\n  if (title.includes('short') || title.includes('#shorts')) score += 18;\n  if (title.includes('proper') || title.includes('form') || title.includes('tutorial')) score += 16;\n  if (title.includes('mistake') || title.includes('compilation') || title.includes('funny')) score -= 45;\n  if (channel.includes('official') || channel.includes('fitness') || channel.includes('coach')) score += 6;\n  score -= Math.max(0, duration - 30) / 4;\n  return score;\n}\n\nfor (let i = 0; i < ytItems.length; i++) {\n  const ytResp = ytItems[i].json;\n  const exCtx = exItems[i] ? exItems[i].json : {};\n  const videos = (ytResp.items || [])\n    .filter(video => video.id && video.status?.embeddable !== false)\n    .map(video => ({ ...video, durationSeconds: parseIsoDuration(video.contentDetails?.duration) }));\n  const sorted = videos.sort((a, b) => scoreVideo(b, exCtx.exerciseName) - scoreVideo(a, exCtx.exerciseName));\n  const chosen = sorted.find(video => video.durationSeconds && video.durationSeconds <= 30)\n    || sorted.find(video => video.durationSeconds && video.durationSeconds <= 60)\n    || sorted[0]\n    || null;\n\n  let videoId = null;\n  let videoUrl = null;\n  let videoTitle = null;\n  let channelName = null;\n  let thumb = null;\n  let durationSeconds = null;\n  let isShortCandidate = false;\n  let isPreferredShort = false;\n  let videoFallback = true;\n  if (chosen) {\n    videoId = chosen.id;\n    videoUrl = 'https://www.youtube.com/watch?v=' + videoId;\n    videoTitle = chosen.snippet?.title || null;\n    channelName = chosen.snippet?.channelTitle || null;\n    const thumbnails = chosen.snippet?.thumbnails || {};\n    thumb = (thumbnails.medium || thumbnails.high || thumbnails.default || {}).url || null;\n    durationSeconds = chosen.durationSeconds || null;\n    isPreferredShort = Boolean(durationSeconds && durationSeconds <= 30);\n    isShortCandidate = Boolean(durationSeconds && durationSeconds <= 60);\n    videoFallback = !isShortCandidate;\n  }\n\n  output.push({ json: {\n    exerciseMode: true,\n    exerciseName: exCtx.exerciseName || '',\n    sets: exCtx.sets || '3',\n    reps: exCtx.reps || '10',\n    setsReps: exCtx.setsReps || '3 x ' + (exCtx.reps || '10'),\n    day: exCtx.day || '',\n    muscle: exCtx.muscle || '',\n    videoId,\n    videoUrl,\n    videoTitle,\n    channelName,\n    durationSeconds,\n    isShortCandidate,\n    isPreferredShort,\n    videoFallback,\n    videoSearchQuery: exCtx.ytQuery || '',\n    thumb,\n    workoutJson: exCtx.workoutJson || null,\n    clientId: clientCtx.clientId,\n    clientName: clientCtx.clientName,\n    clientEmail: clientCtx.clientEmail,\n    clientPhone: clientCtx.clientPhone,\n    planType: clientCtx.planType,\n    goal: clientCtx.goal,\n    isDiet: false\n  }});\n}\nreturn output;"
      },
      "id": "b7a087a7-feff-498d-ac8a-ef2531a1da22",
      "name": "Attach Exercise Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        500
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "videoDuration",
              "value": "short"
            },
            {
              "name": "maxResults",
              "value": "10"
            },
            {
              "name": "relevanceLanguage",
              "value": "en"
            },
            {
              "name": "q",
              "value": "={{ $json.ytQuery }}"
            },
            {
              "name": "videoEmbeddable",
              "value": "true"
            },
            {
              "name": "safeSearch",
              "value": "strict"
            }
          ]
        },
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth"
      },
      "id": "36330eed-bd73-475e-870d-e339b2f71040",
      "name": "Search Exercise Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        320
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "youtubeApiAuth",
          "name": "YouTube API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst clientCtx = $('Build Gemini Prompt').first().json;\n\nif (data.isDiet) {\n  return [{ json: { ...data, exerciseMode: false, ytQuery: 'healthy diet nutrition meal plan' } }];\n}\n\nconst wj = data.workoutJson;\nif (!wj || !wj.days || !wj.days.length) {\n  return [{ json: { ...data, exerciseMode: false, ytQuery: 'fitness workout form' } }];\n}\n\nconst items = [];\nfor (const day of wj.days) {\n  for (const ex of (day.exercises || [])) {\n    const exName = typeof ex === 'string' ? ex : (ex.name || '');\n    if (!exName) continue;\n    const exSets = ex.sets ? String(ex.sets) : '3';\n    const exReps = ex.reps ? String(ex.reps) : '10';\n    const context = [\n      clientCtx.gymAccess,\n      clientCtx.goal,\n      clientCtx.focusArea,\n      clientCtx.injuries && clientCtx.injuries !== 'None' ? clientCtx.injuries : '',\n      'exercise form',\n      '30 seconds',\n      '#shorts'\n    ].filter(Boolean).join(' ');\n    items.push({ json: {\n      exerciseMode: true,\n      exerciseName: exName,\n      sets: exSets,\n      reps: exReps,\n      setsReps: exSets + ' x ' + exReps,\n      day: day.day,\n      muscle: day.muscle || '',\n      ytQuery: (exName + ' ' + context).replace(/\\s+/g, ' ').trim(),\n      workoutJson: data.workoutJson,\n      clientId: data.clientId,\n      clientName: data.clientName,\n      clientEmail: data.clientEmail,\n      clientPhone: data.clientPhone,\n      planType: data.planType,\n      goal: data.goal,\n      isDiet: false\n    }});\n  }\n}\nreturn items;"
      },
      "id": "fab95fbd-30ea-493c-8349-992d3c147dab",
      "name": "Extract Exercises",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const geminiResp = $input.first().json || {};\nconst prev = $('Build Gemini Prompt').first().json;\n\nfunction cleanText(value) {\n  return String(value || '')\n    .replace(/^\\`\\`\\`json\\s*/i, '')\n    .replace(/^\\`\\`\\`\\s*/i, '')\n    .replace(/\\`\\`\\`\\s*$/i, '')\n    .trim();\n}\n\nfunction parseDays(value) {\n  const match = String(value || '').match(/\\d+/);\n  return Math.max(3, Math.min(6, Number(match ? match[0] : 5)));\n}\n\nfunction workoutExercises(prev) {\n  const bodyweight = String(prev.gymAccess || '').toLowerCase().includes('bodyweight');\n  if (bodyweight) {\n    return {\n      push: [\n        { name: 'Push-Up', sets: '4', reps: '8-15' },\n        { name: 'Pike Push-Up', sets: '3', reps: '8-12' },\n        { name: 'Bench Dip', sets: '3', reps: '10-15' },\n        { name: 'Plank Shoulder Tap', sets: '3', reps: '20' }\n      ],\n      pull: [\n        { name: 'Inverted Row', sets: '4', reps: '8-12' },\n        { name: 'Superman Pull', sets: '3', reps: '12-15' },\n        { name: 'Reverse Snow Angel', sets: '3', reps: '12-15' },\n        { name: 'Towel Curl', sets: '3', reps: '10-12' }\n      ],\n      legs: [\n        { name: 'Bodyweight Squat', sets: '4', reps: '15-20' },\n        { name: 'Reverse Lunge', sets: '3', reps: '10-12 each' },\n        { name: 'Glute Bridge', sets: '3', reps: '12-15' },\n        { name: 'Standing Calf Raise', sets: '4', reps: '15-20' }\n      ],\n      core: [\n        { name: 'Plank', sets: '3', reps: '45 sec' },\n        { name: 'Dead Bug', sets: '3', reps: '10 each' },\n        { name: 'Mountain Climber', sets: '3', reps: '30 sec' },\n        { name: 'Side Plank', sets: '3', reps: '30 sec each' }\n      ]\n    };\n  }\n  return {\n    push: [\n      { name: 'Barbell Bench Press', sets: '4', reps: '8-10' },\n      { name: 'Incline Dumbbell Press', sets: '3', reps: '10-12' },\n      { name: 'Cable Fly', sets: '3', reps: '12-15' },\n      { name: 'Triceps Pushdown', sets: '3', reps: '10-12' }\n    ],\n    pull: [\n      { name: 'Lat Pulldown', sets: '4', reps: '10-12' },\n      { name: 'Seated Cable Row', sets: '3', reps: '10-12' },\n      { name: 'Face Pull', sets: '3', reps: '12-15' },\n      { name: 'Dumbbell Curl', sets: '3', reps: '10-12' }\n    ],\n    legs: [\n      { name: 'Back Squat', sets: '4', reps: '8-10' },\n      { name: 'Romanian Deadlift', sets: '3', reps: '10-12' },\n      { name: 'Leg Press', sets: '3', reps: '12-15' },\n      { name: 'Standing Calf Raise', sets: '4', reps: '12-15' }\n    ],\n    core: [\n      { name: 'Overhead Press', sets: '4', reps: '8-10' },\n      { name: 'Lateral Raise', sets: '3', reps: '12-15' },\n      { name: 'Cable Crunch', sets: '3', reps: '12-15' },\n      { name: 'Plank', sets: '3', reps: '45 sec' }\n    ]\n  };\n}\n\nfunction fallbackWorkout(prev) {\n  const available = parseDays(prev.daysPerWeek);\n  const days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];\n  const split = [\n    ['Push Strength', 'push'],\n    ['Pull Strength', 'pull'],\n    ['Legs', 'legs'],\n    ['Shoulders & Core', 'core'],\n    ['Upper Body Volume', 'push'],\n    ['Posterior Chain', 'pull']\n  ];\n  const library = workoutExercises(prev);\n  return {\n    greeting: 'Hi ' + (prev.clientName || 'there') + '! Your one-week AirFit training template is ready.',\n    overview: 'This one-week template is built around your goal, equipment, and available training days. Repeat the same template across the month while AirFit tracks each calendar repeat separately.',\n    days: days.map((day, index) => {\n      if (index >= available) return { day, muscle: 'Rest', exercises: [] };\n      const [muscle, key] = split[index];\n      return { day, muscle, exercises: library[key] };\n    }),\n    warmup: ['5 min light cardio', 'Dynamic mobility', 'Ramp-up sets before heavy lifts'],\n    cooldown: ['Static stretch 30s per target muscle', 'Deep breathing 2 min'],\n    recoveryTips: ['Sleep 7-9 hours', 'Stay hydrated', 'Repeat this template weekly for 4 weeks']\n  };\n}\n\nfunction fallbackDiet(prev) {\n  const name = prev.clientName || 'there';\n  const goal = prev.goal || 'your fitness goal';\n  return '<p>Hi ' + name + '!</p>'\n    + '<h2 style=\"color:#ff6b00\">Personalised Diet Plan - ' + goal + '</h2>'\n    + '<h3 style=\"color:#ff6b00\">1. Daily Calorie Target and Macros</h3>'\n    + '<p style=\"color:#e0e0e0\">Use this safe starter plan while the AI service is unavailable. Keep protein high, choose mostly whole foods, and adjust portions based on weekly progress.</p>'\n    + '<ul style=\"color:#e0e0e0\"><li><strong>Protein:</strong> 1.6-2.2g per kg bodyweight</li><li><strong>Carbohydrates:</strong> focus on rice, oats, potatoes, fruit, and whole grains</li><li><strong>Fats:</strong> nuts, olive oil, eggs, fish, and dairy as tolerated</li></ul>'\n    + '<h3 style=\"color:#ff6b00\">2. 7-Day Meal Plan</h3>'\n    + '<p style=\"color:#e0e0e0\">Build each day around breakfast, lunch, snack, dinner, and hydration. Regenerate once the AI key is restored for a fully personalised version.</p>';\n}\n\nconst candidateText = geminiResp.candidates?.[0]?.content?.parts?.[0]?.text;\nlet rawText = cleanText(candidateText);\nconst aiFailed = !rawText || geminiResp.error || geminiResp.statusCode >= 400 || geminiResp.httpCode >= 400;\n\nif (prev.isDiet) {\n  return [{ json: {\n    isDiet: true,\n    planHtml: aiFailed ? fallbackDiet(prev) : rawText,\n    workoutJson: null,\n    aiFallbackUsed: Boolean(aiFailed),\n    clientId: prev.clientId, clientName: prev.clientName,\n    clientEmail: prev.clientEmail, clientPhone: prev.clientPhone,\n    planType: prev.planType, goal: prev.goal\n  }}];\n}\n\nlet workoutJson = null;\nif (!aiFailed) {\n  try { workoutJson = JSON.parse(rawText); }\n  catch(e) {\n    const m = rawText.match(/\\{[\\s\\S]*\\}/);\n    if (m) { try { workoutJson = JSON.parse(m[0]); } catch(e2) {} }\n  }\n}\nif (!workoutJson || !Array.isArray(workoutJson.days) || workoutJson.days.length !== 7) {\n  workoutJson = fallbackWorkout(prev);\n}\nreturn [{ json: {\n  isDiet: false, planHtml: null, workoutJson,\n  aiFallbackUsed: Boolean(aiFailed),\n  clientId: prev.clientId, clientName: prev.clientName,\n  clientEmail: prev.clientEmail, clientPhone: prev.clientPhone,\n  planType: prev.planType, goal: prev.goal\n}}];"
      },
      "id": "6ab08f2e-f96d-49aa-844c-df2cc73ac79c",
      "name": "Route Plan Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": []
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.geminiPayload }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f35982a8-e4ba-4767-b39b-bc66217b4cc1",
      "name": "Generate Plan with Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        160
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "geminiApiAuth",
          "name": "Gemini API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Webhook Trigger').first().json;\nlet body;\nif (typeof raw.body === 'string') {\n  try { body = JSON.parse(raw.body); } catch(e) { body = raw.body; }\n} else {\n  body = raw.body || raw;\n}\n\nconst planType = body.planType || 'Workout Plan';\nconst isDiet   = planType.toLowerCase().includes('diet');\nconst daysRequested = String(body.daysPerWeek || '5 days');\nlet prompt;\n\nif (isDiet) {\n  prompt = 'Expert fitness coach at Airfit Gym. Create personalised Diet Plan.\\n\\n'\n    + 'CLIENT: ' + body.name + ' | ' + body.gender + ' | ' + body.age + 'yrs | '\n    + body.height + 'cm | ' + body.weight + 'kg | Goal: ' + body.goal + '\\n'\n    + 'Activity: ' + body.activityLevel + ' | Diet: ' + body.dietPreference\n    + ' | Food: ' + body.foodCulture + ' | Meals: ' + body.mealsPerDay\n    + ' | History: ' + body.previousWorkout + ' | Allergies: ' + (body.allergies || 'None') + '\\n\\n'\n    + 'Create a concise DIET PLAN:\\n1. Daily calorie target and macros\\n'\n    + '2. 7-day meal plan table (Day|Breakfast|Lunch|Dinner|Snacks)\\n'\n    + '3. Pre/post workout meals\\n4. Hydration\\n5. Top 5 foods to avoid\\n6. 3 supplements\\n'\n    + 'NO YouTube links.\\n\\nOUTPUT: raw HTML only, inline CSS, headings color:#ff6b00, '\n    + 'tables border-collapse rows #1a1a1a/#222 text #e0e0e0, '\n    + 'headers bg #ff6b00 white padding:10px, cells padding:10px border-bottom:1px solid #333. '\n    + 'Start: <p>Hi ' + body.name + '!</p>';\n} else {\n  prompt = 'You are an expert fitness coach at Airfit Gym. Build ONE reusable 7-day workout template for this client.\\n\\n'\n    + 'CLIENT: ' + body.name + ' | ' + body.gender + ' | ' + body.age + 'yrs | '\n    + body.height + 'cm | ' + body.weight + 'kg | Goal: ' + body.goal + '\\n'\n    + 'Activity: ' + body.activityLevel + ' | History: ' + (body.previousWorkout || 'Beginner') + '\\n'\n    + 'Gym Access: ' + (body.gymAccess || 'Full Gym') + ' | Days Available: ' + daysRequested + ' | Session: ' + (body.sessionLength || '45-60 min') + '\\n'\n    + 'Focus: ' + (body.focusArea || 'Full Body') + ' | Injuries/Limitations: ' + (body.injuries || 'None') + '\\n\\n'\n    + 'Return ONLY a valid JSON object. No markdown. No explanation. No code fences.\\n\\n'\n    + 'Required format:\\n'\n    + '{\"greeting\":\"Hi ' + body.name + '! [motivating sentence]\",'\n    + '\"overview\":\"[2 sentence overview explaining this one-week template repeats for the month]\",'\n    + '\"days\":[{\"day\":\"Monday\",\"muscle\":\"Chest & Triceps\",\"exercises\":['\n    + '{\"name\":\"Barbell Bench Press\",\"sets\":\"4\",\"reps\":\"8-10\"}'\n    + ']}],'\n    + '\"warmup\":[\"5 min light cardio\",\"Dynamic mobility\"],'\n    + '\"cooldown\":[\"Static stretch 30s\",\"Deep breathing\"],'\n    + '\"recoveryTips\":[\"Sleep 7-9 hours\",\"Stay hydrated\",\"Repeat this template weekly for 4 weeks\"]}\\n\\n'\n    + 'STRICT RULES:\\n'\n    + '- Exactly 7 day objects: Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday.\\n'\n    + '- Use the client Days Available to decide how many workout days; rest days must have \"muscle\":\"Rest\" and \"exercises\": [].\\n'\n    + '- Workout days must have 4-6 exercises tailored to goal, equipment, experience, focus area, and injuries.\\n'\n    + '- Each exercise must have accurate \"name\", \"sets\", and \"reps\" as strings.\\n'\n    + '- Do not include video IDs or links; the workflow will attach short YouTube demos.\\n'\n    + '- Output ONLY the JSON. Nothing else.';\n}\n\nreturn [{ json: {\n  geminiPayload: JSON.stringify({\n    contents: [{ parts: [{ text: prompt }] }],\n    generationConfig: { temperature: 0.65, maxOutputTokens: 4096 }\n  }),\n  clientId:    body.clientId   || '',\n  clientName:  body.name       || '',\n  clientEmail: body.email      || '',\n  clientPhone: body.phone      || '',\n  age:         body.age        || '',\n  gender:      body.gender     || '',\n  planType:    planType,\n  isDiet:      isDiet,\n  goal:        body.goal       || '',\n  gymAccess:   body.gymAccess  || 'Full Gym',\n  focusArea:   body.focusArea  || '',\n  injuries:    body.injuries   || '',\n  daysPerWeek: daysRequested,\n  sessionLength: body.sessionLength || ''\n}}];"
      },
      "id": "e6c430da-cc09-4882-b836-b2e891a4ef7c",
      "name": "Build Gemini Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        160
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "f37a2926-cc12-4eaa-b38c-588ee02d5dee",
      "name": "Wait 60 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        0,
        160
      ],
      "webhookId": "2cba8066-a4fb-4d33-9f8f-164e12a935ba"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\":true,\"message\":\"Plan is being generated!\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "feeea07a-3732-4595-bec5-89aba9c48e20",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "airfit-gym-diet",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0a453fb0-0d0e-4164-a1f2-77245bb37681",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        160
      ],
      "webhookId": "airfit-gym-plan"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "contentDetails,snippet,status"
            },
            {
              "name": "id",
              "value": "={{ ($json.items || []).map(item => item.id && item.id.videoId).filter(Boolean).join(',') }}"
            }
          ]
        },
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth"
      },
      "id": "validate-exercise-videos-airfit",
      "name": "Validate Exercise Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        320
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "youtubeApiAuth",
          "name": "YouTube API Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://airfitplangen.duckdns.org/webhook/airfit-invite",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ mode: 'planReady', name: $json.clientName, email: $json.clientEmail, phone: $json.clientPhone, appUrl: 'https://airfitworkout.vercel.app/client/dashboard', planType: $json.planType, generatedAt: $json.generatedAt }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "send-plan-ready-email-airfit",
      "name": "Send Plan Ready Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        340
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://firestore.googleapis.com/v1/projects/airfit-db/databases/(default)/documents/curated_videos/={{ $json.exerciseName.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)+/g, '') }}",
        "sendQuery": false,
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-check-db",
      "name": "Check Curated DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        160
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.error ? 'not_found' : 'found' }}",
        "rules": {
          "rules": [
            {
              "value2": "found",
              "output": 0
            },
            {
              "value2": "not_found",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "node-switch-db",
      "name": "Switch (Found in DB?)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1250,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst exItems = $('Extract Exercises').all();\nconst clientCtx = $('Build Gemini Prompt').first().json;\nconst out = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const cur = items[i].json;\n  // Fallback to finding the matching exercise by item index, or just assuming 1:1 if handled individually.\n  // Since HTTP node processes items sequentially, we can map them directly:\n  const exCtx = exItems[i].json;\n  \n  const fields = cur.fields || {};\n  const videoId = fields.videoId?.stringValue || null;\n  const videoUrl = fields.url?.stringValue || null;\n  const thumb = fields.thumb?.stringValue || null;\n\n  out.push({ json: {\n    exerciseMode: true,\n    exerciseName: exCtx.exerciseName || '',\n    sets: exCtx.sets || '3',\n    reps: exCtx.reps || '10',\n    setsReps: exCtx.setsReps || '3 x 10',\n    day: exCtx.day || '',\n    muscle: exCtx.muscle || '',\n    videoId,\n    videoUrl,\n    videoTitle: fields.name?.stringValue || exCtx.exerciseName,\n    channelName: 'Airfit Curated',\n    durationSeconds: 30,\n    isShortCandidate: true,\n    isPreferredShort: true,\n    videoFallback: false,\n    videoSearchQuery: '',\n    thumb,\n    workoutJson: exCtx.workoutJson || null,\n    clientId: clientCtx.clientId,\n    clientName: clientCtx.clientName,\n    clientEmail: clientCtx.clientEmail,\n    clientPhone: clientCtx.clientPhone,\n    planType: clientCtx.planType,\n    goal: clientCtx.goal,\n    isDiet: false\n  }});\n}\nreturn out;"
      },
      "id": "node-format-curated",
      "name": "Format Curated Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "node-merge-videos",
      "name": "Merge Videos",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1800,
        160
      ]
    }
  ],
  "connections": {
    "Build Plan Response": {
      "main": [
        [
          {
            "node": "Save Plan to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Plan to Store": {
      "main": [
        [
          {
            "node": "Send Plan Ready Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rebuild Workout Plan": {
      "main": [
        [
          {
            "node": "Build Plan Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Exercise Video": {
      "main": [
        [
          {
            "node": "Merge Videos",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search Exercise Video": {
      "main": [
        [
          {
            "node": "Validate Exercise Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Exercises": {
      "main": [
        [
          {
            "node": "Check Curated DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Plan Type": {
      "main": [
        [
          {
            "node": "Extract Exercises",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Plan with Gemini": {
      "main": [
        [
          {
            "node": "Route Plan Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Prompt": {
      "main": [
        [
          {
            "node": "Generate Plan with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60 Minutes": {
      "main": [
        [
          {
            "node": "Build Gemini Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Wait 60 Minutes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Exercise Videos": {
      "main": [
        [
          {
            "node": "Attach Exercise Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Curated DB": {
      "main": [
        [
          {
            "node": "Switch (Found in DB?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch (Found in DB?)": {
      "main": [
        [
          {
            "node": "Format Curated Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Exercise Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Curated Video": {
      "main": [
        [
          {
            "node": "Merge Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Videos": {
      "main": [
        [
          {
            "node": "Rebuild Workout Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3a8cbc33-2f04-426b-b666-c7b668f7a77d",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-01T14:32:21.933Z",
      "createdAt": "2026-04-01T14:32:21.933Z",
      "role": "workflow:owner",
      "workflowId": "maiz82IchPuO1an9",
      "projectId": "azIIK8SPhhWZoIA4",
      "project": {
        "updatedAt": "2026-03-26T16:49:52.943Z",
        "createdAt": "2026-03-26T13:05:18.450Z",
        "id": "azIIK8SPhhWZoIA4",
        "name": "Airfit  Gym <airfitofficial24@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bf985987-4aa6-4f16-9057-64373dd765b2"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}